<div class="wrapper">
  <div class="side-bar">
  <!---------------（_side_bar.html.erbを呼び出している）-------------------->
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <!---------------（_main_chat.html.erbを呼び出している）-------------------->
    <%= render "main_chat" %>
  </div>
</div>