/*---------- サイトの大枠サイトの大枠サイトの大枠サイトの大枠サイトの大枠 --------------------------------------------*/
/*---------- サイトの大枠サイトの大枠サイトの大枠サイトの大枠サイトの大枠 --------------------------------------------*/

.wrapper {
  display: flex;
}

/*---------- サイドバーサイドバーサイドバーサイドバー --------------------------------------------*/
/*---------- サイドバーサイドバーサイドバーサイドバー --------------------------------------------*/
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

/*---------- サイドバー：ヘッダー --------------------------------------------*/
/*---------- ユーザーネームとボタンの配色、位置設定 --------------------------------------------*/
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253141;
}

.user-name a {
  font-size: 16px;
  text-decoration: none;
  color: #fafafa;
}

.create-btn a {
  padding: 14px;
  border: 1px solid lightblue;
  text-decoration: none;
  color: deepskyblue;
  font-size: 10px;
}
/*---------- サイドバー：ルーム --------------------------------------------*/
/*---------- チャットルームの表示設定 --------------------------------------------*/
.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room a{
  color: #fff;
  text-decoration: none;
}

/*---------- チャット部分チャット部分チャット部分チャット部分 --------------------------------------------*/
/*---------- チャット部分チャット部分チャット部分チャット部分 --------------------------------------------*/

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

/*---------- チャット部分：ヘッダー --------------------------------------------*/
/*---------- ルーム名の表示とチャット終了ボタンの設定 --------------------------------------------*/
.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
/*---------- チャット部分：ヘッダー --------------------------------------------*/
/*---------- ルーム名の表示の設定 --------------------------------------------*/
.chatroom-names {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}
/*---------- チャット部分：ヘッダー --------------------------------------------*/
/*---------- チャット終了ボタンの設定 --------------------------------------------*/
.chat-end {
  margin-top: 40px;
}

.chat-end a{
  text-decoration: none;
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
}

/*---------- チャット部分：メッセージ一覧 --------------------------------------------*/
/*---------- ルーム名の表示とチャット終了ボタンの設定 --------------------------------------------*/
.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}
/*---------- チャット部分：メッセージ一覧 --------------------------------------------*/
/*---------- メッセージログ(名前・日時・メッセージの余白やフォントサイズ、色など)の設定 --------------------------------------------*/
.message-rog {
  margin-bottom: 40px;
  
}
.rog-name {
  font-size: 16px;
  color: #434A54;
  margin: 10px 0;
}

.rog-diary {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

.rog-message {
  font-size: 14px;
  color: #434A54;
}
/*---------- チャット部分：入力フォーム --------------------------------------------*/
/*---------- 入力フォームのフォントサイズや色、余白などの設定 --------------------------------------------*/
.form {
  background-color: #DDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: #fff;
  width: 100%;
  display: flex;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38aef0;
  border: none;
  color: #fff;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: #fff;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}